p {
	font-size: 20px;
	font-family: Times New Roman;
	margin: 5px;
}
ul b {
	color: red;
}
li {
	font-family: Times New Roman;
	font-size: 110%;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}
IMG.AK{
	height: 60%;
}
h1{
	margin: 50%, 20%;
}
ul{
	text-align: center;
}
.12{
	text-align: justify;
}
li{
	text-justify: auto;
}